@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Tuple<IEnumerable<Resturent.Models.Customer>, IEnumerable<Resturent.Models.Product>>

@{
    Layout = "_DashboardLayout";
}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Users</p>
                <h3 class="card-title">
                    @ViewBag.count
                    <small>GB</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="javascript:;">Get More Space...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">Sales</i>
                </div>
                <p class="card-category">Revenue</p>
                <h3 class="card-title">$@ViewData["Sales"]</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Fixed Issues</p>
                <h3 class="card-title">75</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Followers</p>
                <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div>



 <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Customers</h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                     <tr>
                         <th>Name</th>
                      <th>Image</th>
                    </tr></thead>
                    <tbody>   
                        @foreach(var item in Model.Item1){
                      <tr>
                        <td>@item.Fname @item.Lname</td>
                                <td>
                                    <img src=@Url.Content("~/Images/" + item.ImagePath)
                                     asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
                                </td>
                      </tr>
                        }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>


    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Products</h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.Item2){
                        <tr>
                            <td>@item.Namee</td>
                            <td>@item.Price</td>
                            <td>@item.Category.CategoryName</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        </div>